
body{
    background-color: #222222;
    margin-left: 70px;
    margin-right: 70px;  
}
#footerr{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
     background-color: #222222;
    margin-left: 70px;
    margin-right: 70px; 
}
#footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
}
#footer>div{
    margin-top: 40px;
    margin-bottom: 40px;
}
h3{
    /* color: #FFFFFF;
    margin-bottom: 60px; */
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 10px 50px 0;
}
p{
    /* color: #7C7C7D; */
    padding: 7px 0;
    line-height: 12px;
    color: #7c7c7d;
    font-weight: 500;
    font-size: 14px;
}
p:hover{
    cursor: pointer;
    color: white;
}
hr{
    /* margin-left: 40px;
    margin-right: 40px; */
    /* border: 0.001px solid #7C7C7D ; */
    opacity: 40%;
    color: #363638;
}
#lan{
    display: flex;
    /* margin-left: 10px; */
}
#lan>img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
#lan>p{
    margin-left: 20px;
}
#cright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cright>div{
    display: flex;
}
#cright>div:nth-child(1){
    width: 500px;
}
h4{
    /* color: #FFFFFF; */
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 0;
    margin-left: 20px;
    
}
.logo{
    margin-top: 5px;
    width: 40px;
    height: 40px;
}
.logo>p{
    margin-left: 20px;
    margin-top: 10px;
}
.icon>a,i{
    margin-left: 20px; 
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
i{
    margin-top: 20px;
    color: white;
}