body{
    background-color: #0d0f12;
}
#div1{
    height:480px;
    width:83%;
    /* border:1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: 645px 455px;
    gap: 15px;
    justify-content: space-between;

}
#div1>div{
    border-radius: 5px;
}
#div5{
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
    border-radius: 50%;
    color: #e8e6d6;
    text-align:center;
    padding-top:1px;
    background-color: #353b42;
    margin-top: 23px;
    /* margin-left:0px; */
    
}
#div2{
    background-color: #181c20;
}
#div10{
    /* height:100%; */
    width: 95%;
    margin-left: -120px;
}
#div11{
    background-color: #181c20;
    height:340px;
    margin-top: 0px;
    border:1px solid #181c20
}
#div4{
    display: flex;
    margin-left: 25px;
    
}
#div3{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
#div6{
    /* border: 1px solid red; */
    height:350px;
    display: grid;
    grid-template-columns: repeat(2,308px);
    /* justify-content: space-between; */
    gap:30px
}

#div7{
    margin-left: 25px;
}
#div8{
    margin-right: 25px;
}
#div6>div>h4{
    color:rgb(219, 218, 218);
}
#div6>div>input{
    height:30px;
    margin-top:-20px ;
    width: 97%;
}
#div9{
    /* border:1px solid red; */
    margin:19px 25px 0px 25px;
    display: flex;
}
#div10{
    margin-left: 20px;
}
#div12{
    display: flex;
    color:#e8e6d6;
    margin-left:19px;
    font-size: 14px;

}
#div13{
    display: flex;
    color:#e8e6d6;
}
#div15{
    display: flex;
    margin-left:220px;
   
}
#div16{
    display: flex;
    margin-left:220px;
    margin-top: -20px;
   
}
#div17{
    display: flex;
    margin-left:19px;
    margin-top: 20px;

   
}
#div18{
    height:70px;
    background-color: #181c20;
    width:645px;    
    border-radius:5px;
    margin:30px 0px 0px 130px;
    display: flex;
}
#div19{
    height:70px;
    background-color: #181c20;
    width:645px;    
    border-radius:5px;
    margin:20px 0px 0px 130px;
    display: flex;
}
a:link{
    text-decoration: none;
}
#btn456{
    color: white;
}