* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'PS Commons'; */
    color: white;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}

body {
    background-color: #222;
    cursor: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    position: relative;
    letter-spacing: normal;

}

div {
    display: block;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;

}

ul {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 20px;
}

.simple-arrow {
    border: solid #EC008C;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.title--white {
    color: white;
}

.title--center {
    text-align: center;
    font-family: 'PS Commons';
}

.title--pink {
    color: #e40084;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "PS Commons Bold";
    text-transform: uppercase;
}

.content{
    /* padding: 30px;
    margin: 30px 0px ; */
    background-color: #222;
}


/* --------------------------------Product Navbar ----------------------------- */
.block-contain {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    /* width: 100%; */
    margin: auto;
    text-align: center;
    
}
.br{
    background-color: black;
}
.product-navbar {
    /* width: 100%; */
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    height: 82px;
    width: 900px;

    background-color: black;
}

.product-navbar>.sub-navbar {
    display: grid;
    background-color: black;
}

.sub-navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-content: space-around;
    width: 900px;
    height: 40px;
    position: fix;
    padding: 10px;
    text-align: center;
    background-color: black;
}

.button-gold{
    text-transform:uppercase;
    padding: 18px 34px;
    font-size: 15px;
    border: 1px solid transparent;
}
/* course detail ---------------------------------- */
.section{
    display: flex;
    flex-direction: row;
}
.details-div3{
    display: flex;
}

/* features of skill------------------------------- */
.contain{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: #222;
}
.section1{
    border: 1px solid green;
}
/* font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; */
